header .header-content .header-content-inner h1 {
    font-size: 65px;
    margin-bottom: 25px;
}

.lnLogo {
    height: 85px;
}

.rmLogo {
    height: 50px;
}

.projectEulerImg {
    width: 200px;
    height: 200px;
}

.light-href {
    color: #fff;
}

#iPhone h2 {
    margin-bottom: 25px;
}

body {
    overflow-x: hidden;
}
