html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.center-text {
    margin-left: 20%;
    margin-right: 20%
}

.iphone-circle {
    width: 140px;
    height: 140px;
}

#sec1 {
    background-color: #dbdbdb;
}

/* make images gray */
img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.header h1 {
    font-size:80px;
    /*-webkit-text-stroke: 1px rgba(f,f,f,0.1);*/
    color: black;
    margin-left:-5px;
    margin-bottom:5px;
    text-transform:uppercase;
}

.header .lead {
    color: #fff;
    font-size:25px;
}

.header {
    height: 80%;
    background: lightgray url('Images/uc-blurred.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* use alt in navbar and header for different color */

.alt {
    background-color:white;
}

.alt .lead {
    color: black;
    font-size:25px;
    background: rgba(255, 255, 255, 0.4);
}

footer {
    padding: 100px 0;
}

.name {
    color: #fff !important;
    text-shadow: 1px 1px #000;
}